@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<h2>GJ Cell</h2>
	<h3>Jl. Harapan Jaya No. 153, Pekanbaru
<br />Telp. 0761-31257</h3>
	<p>
		Selamat datang di Sistem Informasi Servis - GJ Cell<br />

        </p>
