@{
    ViewBag.Title = "Under Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:0px"><img src="@Url.Content("~/Content/img/Web-under-construction-620x446.jpeg")" style="width:auto;height:auto;" /></div>
